<div class="header">
  <h4>Agent</h4>
  <button class="btn btn-success" routerLink="/admin/add-agent">Add Agent</button>
</div>
<table class="table table-striped">
  <thead class="table-primary ">
    <tr>
      <th *ngFor="let header of tableHeader">{{header.displayTitle}}</th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData">
      <ng-container *ngFor="let header of tableHeader">
        <td>{{data[header['key']]}}</td>
      </ng-container>
      <td style="text-align: center;">
        <span style="font-size: 20px; cursor: pointer;" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
        </span>
        <div class="dropdown-menu">
          <a [routerLink]="['/admin', 'edit-agent', data.agentId]" class="dropdown-item" style="cursor: pointer;">
            <i class="fa-sharp fa-solid fa-pencil mr-1"></i>
            Edit</a>
          <a class="dropdown-item" (click)="onDelete(data)" style="cursor: pointer;">
            <i class="fa-sharp fa-solid fa-trash mr-1"></i>
            Delete</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>