<br>
<h2> Welcome to BITS IMS !!!! </h2>
<p>We decided to create a database that can 
    help the insurance company organize details of its 
    target companies, agents, policyholders, their premium payments, 
    and the various products that are available with it.
</p>
<p>    The proposed system is for making it easier to manage policy holder details, 
    agent details, policy details, claimant details and payment details.
    So, this will be developed for managing the insurance management system. 
    The overall system is controlled through the main menu.
</p>    