<h4>Insurance Policies</h4>
<table class="table table-striped ">

  <thead class="table-primary table-bordered">
      <tr>
          <th>Policy Id</th>
          <th>Policy Name</th>
          <th>Policy Type</th>
          <th>Plan Term</th>
          <th>Commission charges (%)</th>
          <th></th>
          <th></th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let policy of policies">
          <td class="align-middle">{{policy.policyPlanId}}</td>
          <td class="align-middle">{{policy.policyPlanName}}</td>
          <td class="align-middle">{{policy.policyPlanType}}</td>
          <!-- <td class="align-middle">{{ 123 | currency:'USD'}}</td> -->
          <td class="align-middle">{{policy.policyPlanTerm}}</td>
          <td class="align-middle">{{policy.commissionPercent}}</td>
          <td class="align-middle"><a href="#" class="link-dark">Check Details</a></td>
          <td class="align-middle"><a href="#" class="link-danger">Buy Policy</a></td>
      </tr>
  </tbody>
</table>